.blocks {
    width: 100%;

    h2 {
        text-align: center;
    }
    
    .line {
        border-left: solid purple 0.2rem;
        height: 2rem;
        margin: 0 50%;
        padding: auto;
    }
}
